*.iml
*.ipr
*.iws
.idea/
out/
lib/

# src will be changing a lot, allow it later
generated-src/
reference/


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
